SIMULATING REALTIME BY USING VAL,TESTING,TRAINING



Creating a csv file for all columns and shuffling?
send it to fleskine
split it to test train val
create a json file using val
Train model using train and test
Combine everything in a new notebook

In [1]:
import pandas as pd
import numpy as np

In [2]:
training = pd.read_csv('Dataa/UNSW_NB15_training-set (1).csv')
testing = pd.read_csv('Dataa/UNSW_NB15_testing-set (1).csv')

print("training ",training.shape)
print("testing ",testing.shape)

training  (82332, 45)
testing  (175341, 45)

In [3]:
df = pd.concat([training,testing]).drop('id',axis=1)
df = df.reset_index(drop=True)

df.head()

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,rate,sttl,...,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,attack_cat,label
0,0.000011,udp,-,INT,2,0,496,0,90909.0902,254,...,1,2,0,0,0,1,2,0,Normal,0
1,0.000008,udp,-,INT,2,0,1762,0,125000.0003,254,...,1,2,0,0,0,1,2,0,Normal,0
2,0.000005,udp,-,INT,2,0,1068,0,200000.0051,254,...,1,3,0,0,0,1,3,0,Normal,0
3,0.000006,udp,-,INT,2,0,900,0,166666.6608,254,...,1,3,0,0,0,2,3,0,Normal,0
4,0.000010,udp,-,INT,2,0,2126,0,100000.0025,254,...,1,3,0,0,0,2,3,0,Normal,0

In [4]:
## converting object/categorical data to numbers

for col in ['proto', 'service', 'state']:
      df[col] = df[col].astype('category').cat.codes
##.cat.codes attribute to replace the categorical values with numerical codes.

df['attack_cat'] = df['attack_cat'].astype('category') ##retains as cat

In [6]:
from sklearn.model_selection import train_test_split

X = df.drop(columns = ['attack_cat', 'label']) ##all columns except 42 and 43 since were predicting the type of attack
y = df['label'].values ## predict whether it is 0 or 1  label column into a numpy array by values cause
#. A numpy array is more efficient and compatible for numerical computations than a pandas series

# Split the data into training and temporary sets so the training gets 20% and temp 80%

X_temp, X_test, y_temp, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Split the temporary set into validation and training sets
#(temp =80%) 80=100% so what about 25% is 20  for val and 60 for training
X_train, X_val, y_train, y_val = train_test_split(X_temp, y_temp, test_size=0.25, random_state=42)

In [7]:
##only took the x column without the labels for simulating traffic

X_val.to_json("validation.json", orient='records', lines=True)

"validation.json": This is the name of the file where the JSON object will be stored. In this case, the file will be named “validation.json”.

orient='records': This parameter defines the format of the resulting JSON. When set to ‘records’, the JSON will be formatted as a list of records (dictionaries). Each record corresponds to a row in your DataFrame, with keys being column names and values being cell values.

lines=True: When set to True, this parameter writes each record (dictionary) on its own line in the file. This can make it easier to read the file and can be useful when working with large datasets, as it allows for reading in the file line by line.